name = "mirapri-writer"
main = "src/index.ts"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[observability.logs]
enabled = true
invocation_logs = true

[[d1_databases]]
binding = "DB"
database_name = "mirapri-stats"
database_id = "82263b1f-51f8-4c5c-a611-9afc70dea99d"
