name = "mirapuri-writer"
main = "src/index.ts"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[observability.logs]
enabled = true
invocation_logs = true

[[d1_databases]]
binding = "DB"
database_name = "mirapuri-stats"
database_id = "29e5b239-799f-4080-8cde-7cd2e9fff19c"
